@font-face {
    font-family: 'droid_serifregular';
    src: url('../fonts/droidserif.eot');
    src: url('../fonts/droidserif.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidserif.woff') format('woff'),
         url('../fonts/droidserif.ttf') format('truetype'),
         url('../fonts/droidserif.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}